[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
accelerate = "~=0.30.1"
bitsandbytes = "~=0.43.1"
cornsnake = "~=0.0.50"
llama-index                             = "~=0.10.38"
llama-index-core                        = "~=0.10.38.post1"
llama-index-embeddings-ollama           = "~=0.1.2"
llama-index-embeddings-huggingface      = "~=0.2.0"
llama-index-llms-huggingface            = "~=0.2.0"
llama-index-llms-ollama                 = "~=0.1.4"
llama-index-readers-file                = "~=0.1.22"
llama-index-readers-web                 = "~=0.1.16"
llama-index-storage-docstore-redis      = "~=0.1.2"
llama-index-vector-stores-redis         = "~=0.2.0"
matplotlib = "~=3.9.0"
tenacity = "~=8.3.0"
transformers = "~=4.41.0"

[dev-packages]
parameterized = "~=0.9.0"
ruff = "~=0.3.3"
coverage = "~=7.4.4"

[requires]
python_version = "3.12"
